In [1]:
import numpy as np 
import pandas as pd

In [2]:
movies = pd.read_csv('BollywoodMovieDetail.csv')
ratings = pd.read_csv('BollywoodActorRanking.csv')

In [34]:
ratings.head()

,actorId,actorName,movieCount,ratingSum,normalizedMovieRank,googleHits,normalizedGoogleRank,normalizedRating
0,373,Aamir Khan,11,1170,9.44862,2460000,7.34283,10.00000
1,374,Shah Rukh Khan,23,2000,7.55009,2670000,7.88458,9.22674
2,375,Salman Khan,36,2340,5.40217,3490000,10.00000,9.20821
3,376,Katrina Kaif,17,1640,8.48082,2120000,6.46570,8.94852
4,377,Deepika Padukone,16,1080,5.64674,3000000,8.73591,8.62716

In [4]:
movies.shape

(1284, 10)

In [56]:
for i in range(len(movies)):
    try:
        movies["mainActor"].concat(movies["actors"][i].split("|")[0].strip())
    except:
        continue

In [57]:
movies.head()

,imdbId,title,releaseYear,releaseDate,genre,writers,actors,directors,sequel,hitFlop,mainActor
0,tt0118578,Albela,2001,20 Apr 2001,Romance,Honey Irani (screenplay) | Honey Irani (story)...,Govinda | Aishwarya Rai Bachchan | Jackie Shro...,Deepak Sareen,0.0,2,Aamir Khan
1,tt0169102,Lagaan: Once Upon a Time in India,2001,08 May 2002,Adventure | Drama | Musical,Ashutosh Gowariker (story) | Ashutosh Gowarike...,Aamir Khan | Gracy Singh | Rachel Shelley | Pa...,Ashutosh Gowariker,0.0,6,Aamir Khan
2,tt0187279,Meri Biwi Ka Jawab Nahin,2004,02 Jul 2004,Action | Comedy,NaN,Akshay Kumar | Sridevi | Gulshan Grover | Laxm...,Pankaj Parashar | S.M. Iqbal,0.0,1,Aamir Khan
3,tt0222024,Hum Tumhare Hain Sanam,2002,24 May 2002,Drama | Romance,K.S. Adiyaman | Arun Kumar (assistant dialogue...,Shah Rukh Khan | Madhuri Dixit | Salman Khan |...,K.S. Adiyaman,0.0,4,Aamir Khan
4,tt0227194,One 2 Ka 4,2001,30 Mar 2001,Action | Comedy | Drama,Sanjay Chhel | Raaj Kumar Dahima (screenplay) ...,Shah Rukh Khan | Juhi Chawla | Jackie Shroff |...,Shashilal K. Nair,0.0,1,Aamir Khan

In [33]:
movies.loc[(movies["releaseYear"]==2011) & (movies["genre"] == "Action | Comedy | Drama")]

,imdbId,title,releaseYear,releaseDate,genre,writers,actors,directors,sequel,hitFlop
832,tt1630282,Sahi Dhandhe Galat Bande,2011,19 Aug 2011,Action | Comedy | Drama,Parvin Dabas,Anupam Kher | Sharat Saxena | Parvin Dabas | V...,Parvin Dabas,0.0,1
880,tt1773109,Yamla Pagla Deewana,2011,14 Jan 2011,Action | Comedy | Drama,Jasvinder Bath (story) | Jasvinder Bath,Nafisa Ali | Madhuri Bhattacharya | Emma Brown...,Samir Karnik,0.0,6

In [3]:
movies.head(10)# to get the first 10 rows

,imdbId,title,releaseYear,releaseDate,genre,writers,actors,directors,sequel,hitFlop
0,tt0118578,Albela,2001,20 Apr 2001,Romance,Honey Irani (screenplay) | Honey Irani (story)...,Govinda | Aishwarya Rai Bachchan | Jackie Shro...,Deepak Sareen,0.0,2
1,tt0169102,Lagaan: Once Upon a Time in India,2001,08 May 2002,Adventure | Drama | Musical,Ashutosh Gowariker (story) | Ashutosh Gowarike...,Aamir Khan | Gracy Singh | Rachel Shelley | Pa...,Ashutosh Gowariker,0.0,6
2,tt0187279,Meri Biwi Ka Jawab Nahin,2004,02 Jul 2004,Action | Comedy,NaN,Akshay Kumar | Sridevi | Gulshan Grover | Laxm...,Pankaj Parashar | S.M. Iqbal,0.0,1
3,tt0222024,Hum Tumhare Hain Sanam,2002,24 May 2002,Drama | Romance,K.S. Adiyaman | Arun Kumar (assistant dialogue...,Shah Rukh Khan | Madhuri Dixit | Salman Khan |...,K.S. Adiyaman,0.0,4
4,tt0227194,One 2 Ka 4,2001,30 Mar 2001,Action | Comedy | Drama,Sanjay Chhel | Raaj Kumar Dahima (screenplay) ...,Shah Rukh Khan | Juhi Chawla | Jackie Shroff |...,Shashilal K. Nair,0.0,1
5,tt0238936,Devdas,2002,12 Jul 2002,Musical | Romance,Saratchandra Chatterjee (based on the novel by...,Shah Rukh Khan | Madhuri Dixit | Aishwarya Rai...,Sanjay Leela Bhansali,0.0,6
6,tt0247911,Aap Mujhe Achche Lagne Lage,2002,19 Apr 2002,Action | Drama | Romance,Robin Bhatt (story) | Girish Dhamija (dialogue...,Hrithik Roshan | Ameesha Patel | Kiran Kumar |...,Vikram Bhatt,0.0,2
7,tt0248126,Kabhi Khushi Kabhie Gham...,2001,14 Dec 2001,Drama | Musical | Romance,Karan Johar | Sheena Parikh (screenplay),Amitabh Bachchan | Jaya Bhaduri | Shah Rukh Kh...,Karan Johar,0.0,8
8,tt0248216,Na Tum Jaano Na Hum,2002,10 May 2002,Comedy | Drama | Musical,Pratibha Acharya (dialogue) | Arjun Sablok,Saif Ali Khan | Hrithik Roshan | Esha Deol | A...,Arjun Sablok,0.0,1
9,tt0248617,Yaadein...,2001,27 Jun 2001,Musical | Drama | Romance,Subhash Ghai (dialogue) | Subhash Ghai (screen...,Jackie Shroff | Hrithik Roshan | Kareena Kapoo...,Subhash Ghai,0.0,2

In [4]:
movies.tail()# to get last 5 rows

,imdbId,title,releaseYear,releaseDate,genre,writers,actors,directors,sequel,hitFlop
1279,tt4121522,Shuruaat Ka Interval,2014,15 Aug 2014,NaN,Aarti S. Bagdi | Amrit Raj Gupta | Krishan Hoo...,Kaivalya Chheda | Rajsekhar Aningi | Avidant B...,Aarti S. Bagdi | Amrit Raj Gupta | Krishan Hoo...,0.0,1
1280,tt4187650,Trip to Bhangarh,2014,28 Aug 2014,Horror,NaN,Manish Choudhary | Suzanna Mukherjee | Poonam ...,Jitendra Pawar,0.0,1
1281,tt4190220,Zed Plus,2014,28 Nov 2014,NaN,Chandra Prakash Dwivedi (screen play and dialo...,Adil Hussain | Ekavali Khanna | Kulbhushan Kha...,Chandra Prakash Dwivedi,0.0,1
1282,tt4219300,Gollu aur Pappu,2014,21 Nov 2014,Comedy,NaN,Vir Das | Sandeepa Dhar | Rahul Handa | Dimple...,Kabir Sadanand,0.0,1
1283,tt4228746,Zid,2014,28 Nov 2014,Thriller,Vivek Agnihotri | Rohit Malhotra,Shradha Das | Mohan Kapoor | Mannara | Karanvi...,Rohit Malhotra | Anubhav Sinha,0.0,2

In [5]:
movies.shape #to get the total no. of rows and columns

(1284, 10)

In [6]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1284 entries, 0 to 1283
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   imdbId       1284 non-null   object
 1   title        1284 non-null   object
 2   releaseYear  1284 non-null   int64
 3   releaseDate  1231 non-null   object
 4   genre        1282 non-null   object
 5   writers      1165 non-null   object
 6   actors       1281 non-null   object
 7   directors    1280 non-null   object
 8   sequel       1281 non-null   float64
 9   hitFlop      1284 non-null   int64
dtypes: float64(1), int64(2), object(7)
memory usage: 100.4+ KB

In [7]:
movies.describe(include="all")

,imdbId,title,releaseYear,releaseDate,genre,writers,actors,directors,sequel,hitFlop
count,1284,1284,1284.000000,1231,1282,1165,1281,1280,1281.000000,1284.000000
unique,1284,1284,NaN,710,215,1109,1281,731,NaN,NaN
top,tt0118578,Albela,NaN,02 Nov 2012,Drama,Dilip Shukla,Govinda | Aishwarya Rai Bachchan | Jackie Shro...,Priyadarshan,NaN,NaN
freq,1,1,NaN,6,113,6,1,18,NaN,NaN
mean,NaN,NaN,2007.989097,NaN,NaN,NaN,NaN,NaN,0.035129,2.144081
std,NaN,NaN,4.005243,NaN,NaN,NaN,NaN,NaN,0.188371,1.812820
min,NaN,NaN,2001.000000,NaN,NaN,NaN,NaN,NaN,0.000000,1.000000
25%,NaN,NaN,2004.000000,NaN,NaN,NaN,NaN,NaN,0.000000,1.000000
50%,NaN,NaN,2008.000000,NaN,NaN,NaN,NaN,NaN,0.000000,1.000000
75%,NaN,NaN,2011.000000,NaN,NaN,NaN,NaN,NaN,0.000000,2.000000
max,NaN,NaN,2014.000000,NaN,NaN,NaN,NaN,NaN,2.000000,9.000000

In [8]:
movies.dtypes # to get the datatypes of all the columns

imdbId          object
title           object
releaseYear      int64
releaseDate     object
genre           object
writers         object
actors          object
directors       object
sequel         float64
hitFlop          int64
dtype: object

In [9]:
movies.isnull().sum() # to get the number of missing values in each column

imdbId           0
title            0
releaseYear      0
releaseDate     53
genre            2
writers        119
actors           3
directors        4
sequel           3
hitFlop          0
dtype: int64

In [10]:
movies.duplicated().sum() # to get the number of duplicated values

0

In [11]:
movies.sample(10)# to get the random 10 rows from the dataset

,imdbId,title,releaseYear,releaseDate,genre,writers,actors,directors,sequel,hitFlop
915,tt1886663,Satrangee Parachute,2011,25 Feb 2011,Comedy | Drama | Family,Pulakesh Bhowmik (story) | Anupam Mishra (dial...,Sanjay Mishra | Zakir Hussain | Lilliput | Rup...,Vineet Khetrapal,0.0,1
433,tt0485522,Umrao Jaan,2006,03 Nov 2006,Drama | Romance,J.P. Dutta (screenplay) | O.P. Dutta (story) |...,Aishwarya Rai Bachchan | Shabana Azmi | Sunil ...,J.P. Dutta,0.0,1
5,tt0238936,Devdas,2002,12 Jul 2002,Musical | Romance,Saratchandra Chatterjee (based on the novel by...,Shah Rukh Khan | Madhuri Dixit | Aishwarya Rai...,Sanjay Leela Bhansali,0.0,6
1014,tt2155776,Yeh Jo Mohabbat Hai,2012,03 Aug 2012,Drama,Dilip Shukla,Rati Agnihotri | Mohnish Bahl | Nazia Hussain ...,Shree Narayan Singh,0.0,1
860,tt1720254,Thank You,2011,08 Apr 2011,Comedy | Drama | Romance,Ikram Akhtar (screen play) | Nisar Akhtar | An...,Akshay Kumar | Bobby Deol | Sonam Kapoor | Sun...,Anees Bazmee,0.0,2
408,tt0475645,Vaah! Life Ho Toh Aisi!,2005,23 Dec 2005,Comedy | Family | Musical,Mahesh Manjrekar (story) | Kiran Kotrial (dial...,Shahid Kapoor | Amrita Rao | Sanjay Dutt | Ars...,Mahesh Manjrekar,0.0,2
399,tt0470398,Kasak,2005,22 Jul 2005,Drama,Rajiv Babbar (screenplay) | Rajiv Babbar (stor...,Lucky Ali | Meera | Mukesh Tiwari | Nandini,Rajiv Babbar,0.0,1
664,tt1241195,Aamir,2008,06 Jun 2008,Drama | Thriller,Raj Kumar Gupta (story),Rajeev Khandelwal | Aishwarya | Vasan Bala | C...,Raj Kumar Gupta,0.0,2
1225,tt3359290,Bobby Jasoos,2014,04 Jul 2014,Comedy | Drama | Thriller,Sanyukta Shaikh Chawla (screen play & dialogue...,Vidya Balan | Ali Fazal | Mahima A | Abhishek C,Samar Shaikh,0.0,2
791,tt1570417,Accident on Hill Road,2010,31 Dec 2009,Crime | Drama | Thriller,Varun Grover (dialogues) | Rahul Mehta (dialog...,Farooq Shaikh | Celina Jaitly | Abhimanyu Sing...,Mahesh Nair,0.0,1

In [12]:
movies = movies.drop(['writers'],axis=1)

In [13]:
ratings.head(10)

,actorId,actorName,movieCount,ratingSum,normalizedMovieRank,googleHits,normalizedGoogleRank,normalizedRating
0,373,Aamir Khan,11,1170,9.44862,2460000,7.34283,10.00000
1,374,Shah Rukh Khan,23,2000,7.55009,2670000,7.88458,9.22674
2,375,Salman Khan,36,2340,5.40217,3490000,10.00000,9.20821
3,376,Katrina Kaif,17,1640,8.48082,2120000,6.46570,8.94852
4,377,Deepika Padukone,16,1080,5.64674,3000000,8.73591,8.62716
5,378,Hrithik Roshan,16,1120,5.89130,2650000,7.83298,8.25194
6,379,Priyanka Chopra,36,1990,4.45109,3130000,9.07128,8.13686
7,380,Kareena Kapoor,37,2200,4.86016,2940000,8.58112,8.09065
8,381,Ranbir Kapoor,11,890,6.95850,1860000,5.79496,7.69864
9,382,Kajol,6,450,6.38043,1780000,5.58858,7.25156

In [14]:
ratings.tail(5)

,actorId,actorName,movieCount,ratingSum,normalizedMovieRank,googleHits,normalizedGoogleRank,normalizedRating
296,669,Achint Kaur,4,80,1.0,0,NaN,1.00
297,670,Yuvika Chaudhry,5,100,1.0,0,NaN,1.00
298,671,Pankaj Berry,5,100,1.0,0,NaN,1.00
299,672,Varun Dhawan,0,0,NaN,0,NaN,4.74
300,673,Nargis Fakhri,0,0,NaN,0,NaN,4.80

In [15]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   actorId               301 non-null    int64
 1   actorName             301 non-null    object
 2   movieCount            301 non-null    int64
 3   ratingSum             301 non-null    int64
 4   normalizedMovieRank   299 non-null    float64
 5   googleHits            301 non-null    int64
 6   normalizedGoogleRank  189 non-null    float64
 7   normalizedRating      301 non-null    float64
dtypes: float64(3), int64(4), object(1)
memory usage: 18.9+ KB